doctype html
html(lang=es)
  head
    title React Playground
    //build:css style.css
    link(rel="stylesheet", href="style/main.css")
    //endbuild
  body
    .wrapper
      // header start
      header.container
        nav.top-bar(data-topbar='', role='navigation')
          ul.title-area
            li.name
              h1
                a(href='#') My Site
            // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
            li.toggle-topbar.menu-icon
              a(href='#')
                span Menu
          section.top-bar-section
            // Right Nav Section
            ul.right
              li.active
                a(href='#') Right Button Active
              li.has-dropdown
                a(href='#') Right Button Dropdown
                ul.dropdown
                  li
                    a(href='#') First link in dropdown
                  li.active
                    a(href='#') Active link in dropdown
            // Left Nav Section
            ul.left
              li
                a(href='#') Left Nav Button
      //header end

      // main content
      .container
        .row
          h1 Hola Mundo
        //register form
        form(action="/login", method="POST")
        .row
          .large-8.columns
            h3 Login
        .row
          .large-4.columns
            label
              | Username
              input(type='text', placeholder='username')
          .large-4.columns.end
            label
              | Password
              input(type='password', placeholder='password')
        .row
          .large-8.columns
            a.button.small.radius.right(href='#') Signup
        .row    
          hr
        // login form
        form(action="/signup", method="POST")
        .row
          .large-12.columns
            h3 Signup
        .row
          .large-4.columns
            label
              | Full Name
              input(type='text', name="fullname", placeholder='Full Name')
          .large-4.columns.end
            label
              | Email
              input(type='text', name="email", placeholder='Email')
        .row
          .large-4.columns
            label
              | Username
              input(type='text', name="username", placeholder='Username')
          .large-4.columns.end
            label
              | Password
              input(type='text', name="password", placeholder='password')
        .row
          .large-8.columns
            a.button.small.radius.right(href='#') Login
      // end main content

    // build:js /js/vendor.js
    script(src="")
    // endbuild
    // main javascripts
    script(src="js/main.js")
    